body {
    background-color: black;
}
p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 800px;
    margin-left: 60px;
}
img {
    border-radius: 2px;
    position: sticky;
    top: 0;
    width: 50px;
    float: left;
}
h1 {
    color: white;
    margin-left: 60px;
}