.Header {
    text-align: center;
    background-color: white;
    max-width: fit-content;
    margin-left: 400px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 20px;
}
body {
    background-color: gray;
}
.card {
justify-items: center;
justify-content: center;
margin-top: 50px;
max-width: 315px;
margin-left: 450px;
padding-bottom: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
border-top-left-radius: 22px;
border-top-right-radius: 22px;
background-color: white;
}
.foto img{
    width: 170px;
    border-radius: 50%;
    border: solid 3px white;
    height: 175px;
}
.bg-foto {
    background-color: rgb(4, 129, 188);
    padding-top: 20px;
    padding-right: 70px;
    padding-left: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.nama p {
    text-align: center;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.magang {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.isi p {
    text-align: center;
    max-width: 400px;
    margin-top: 25px;
    font-size: medium;
    max-width: 280px;
}
button {
    padding: 10px;
    margin-right: 10px;
    background-color: rgb(4, 129, 188);
    color: white;
    border: none;
    transition: all 0.3s;
    border-radius: 10px;
    margin-top: 10px;
}
button:hover {
    background-color: white;
    color: rgb(4, 129, 188);
    transition: all 0.3s;
}
