html, body, #flex-container {
    height: 100%;
}
html, body, #flex-container-2 {
    height: 100%;
}
#flex-container {
    display: flex;
    flex-direction: row;
}
.flex-item {
    flex-basis: 100%;
    height: 100px;
    margin: 4px;
    background: #ec5453;
    font-size: 60px;
    color: white;
    text-align: center;
    /* Tambahan */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 25px;
     padding: 25px;
    /* . . . */
}
#flex-container-2 {
        display: flex;
    flex-direction: row-reverse;
}
.flex-item-2 {
        flex-basis: 100%;
    height: 100px;
    margin: 4px;
    background: #ec5453;
    font-size: 60px;
    color: white;
    text-align: center;
    /* Tambahan */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 25px;
     padding: 25px;
    /* . . . */
}

/*  */

html, body, #flex-container-3 {
    height: 100%;
}
html, body, #flex-container-4 {
    height: 100%;
}
#flex-container-3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.flex-item-3 {
    /* flex-basis: 100%; */
    height: 100px;
    margin: 4px;
    background: green;
    font-size: 60px;
    color: white;
    text-align: center;
    /* Tambahan */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 25px;
     padding: 25px;
    /* . . . */
}
#flex-container-4 {
        display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.flex-item-4 {
        /* flex-basis: 100%; */
    height: 100px;
    margin: 4px;
    background: blue;
    font-size: 60px;
    color: white;
    text-align: center;
    /* Tambahan */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 25px;
     padding: 25px;
    /* . . . */
}

/*  */

html, body, #flex-container-5 {
    height: 100%;
}
html, body, #flex-container-6 {
    height: 100%;
}
#flex-container-5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-item-5 {
    /* flex-basis: 100%; */
    height: 100px;
    margin: 4px;
    background: red;
    font-size: 60px;
    color: white;
    text-align: center;
    /* Tambahan */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 25px;
     padding: 25px;
    /* . . . */
}
#flex-container-6 {
        display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.flex-item-6 {
        /* flex-basis: 100%; */
    height: 100px;
    margin: 4px;
    background: brown;
    font-size: 60px;
    color: white;
    text-align: center;
    /* Tambahan */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 25px;
    padding: 25px;
    /* . . . */
}

/*  */

html, body, #flex-container-7 {
    height: 100%;
}
html, body, #flex-container-8 {
    height: 100%;
}
#flex-container-7 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flex-item-7 {
    /* flex-basis: 100%; */
    height: 100px;
    margin: 4px;
    background: lawngreen;
    font-size: 60px;
    color: white;
    text-align: center;
    /* Tambahan */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 25px;
     padding: 25px;
    /* . . . */
}
#flex-container-8 {
        display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.flex-item-8 {
        /* flex-basis: 100%; */
    height: 100px;
    margin: 4px;
    background: lawngreen;
    font-size: 60px;
    color: white;
    text-align: center;
    /* Tambahan */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 25px;
    padding: 25px;
    /* . . . */
}