/* Selecter menggunakan Tag atau ELement */
p {
  color: chartreuse;
  text-align: justify;
  line-height: 1.5;
}

/* Selecter menggunakan Class */
p.paragraf {
  color: cadetblue;
  font-size: 18px;
  font-style: italic;
}

/* Selecter menggunakan ID */
#Halaman_utama {
  background-color: orange;
  backdrop-filter: blur(5px);
  padding: 20px;
  color: white;
}

/* Selecter menggunakan Atribut */
input[type="text"] {
  border-color: aquamarine;
  border-width: 2px;
  border-style: solid;
  padding: 5px;
}

/* Selecter menggunakan Universal Selector (*) */
* {
  border-color: darkgreen;
  border-radius: 10px;
  border: 1px dashed gray;
}

/* Selecter menggunakan pseudo-class */
a:hover {
  color: orangered;
  text-decoration: underline;
  border: 1px dotted red;
}

/* Selecter menggunakan pseudo-element */
h1::first-letter {
  /*content: " (selamat datang di halaman utama) ";*/
  font-size: 32px;
  color: rgb(255, 0, 0);
}

/* Selecter menggunakan pseudo-element */
p::first-line {
  font-size: 16px;
  color: red;
  font-weight: 600;
}

.red-rose {
  font-family: "Red Rose", serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}

