.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
/* product1 */
.product1 {
    margin-right: 15px;
    padding: 20px;
    border: black 2px solid;
    border-radius: 5px;
}
.product1 img {
    width: 270px;
}
/* product2 */
.product2 {
    margin-left: 15px;
    padding: 20px;
    border: black 2px solid;
    border-radius: 5px;
}
.product2 img {
    width: 270px;
}
/* product3 */
.product3 {
    margin-left: 30px;
    padding: 20px;
    border: black 2px solid;
    border-radius: 5px;
}
.product3 img {
    width: 270px;
}
/* Tambahan */
.nama {
    display: flex;
    font-size: 14px;
}
.desk {
    color: gray;
    font-family: 'Courier New', Courier, monospace;
}
.span1 {
    margin-left: 103px;
    font-family: 'Courier New', Courier, monospace;
}
.span2 {
    margin-left: 118px;
    font-family: 'Courier New', Courier, monospace;
}
.span3 {
    margin-left: 50px;
    font-family: 'Courier New', Courier, monospace;
}

/* media query */

/* @media screen and (max-width: 1000px) {
    /* .container {
        display: inline-block;
    } */
     /* .hide {
       
     }
     .hide2 {
        
     }
    .product1 {
        display: inline-block;
    }
    .product2 {
        display: inline-block;
    }
    .product3 {
        display: inline-block;
       
    } */
/* } */ 
/* @media screen and (max-width: 1000px) {
    .container {
        display: inline-block;
    }
    .product1 {
        margin-bottom: 10px;
        margin-right: 0px;
    }
    .product2 {
        margin-bottom: 10px;
     margin-left: 0px;   
    }
    .product3 {
        margin-bottom: 10px;
        margin-left: 0px;
    }
} */