/*Horizontal menu*/
/*menghilangkan bullet default*/
.horizontal-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
    border-radius: 2px;
}
/*style setiap item menu*/
.horizontal-menu li {
    margin: 0 15px;
}

/*style link menu*/
.horizontal-menu li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
/*hover effect*/
.horizontal-menu li a:hover {
    background-color: #575757;
    border-radius: 4px;
}


/*Vertical menu*/
/*menghilangkan bullet default*/
.vertical-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px; /*Lebar Menu*/
    background-color: #333;
}
/*style setiap item menu*/
.vertical-menu li {
    border-bottom: 1px solid #444;
}

/*style link menu*/
.vertical-menu li a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #333;
}
/*hover effect*/
.vertical-menu li a:hover {
    background-color: #575757;
}



ul.circle {
    list-style-type: circle;
}
ul.square {
    list-style-type: square;
}
ol.upper-roman {
    list-style-type: upper-roman;
}
ol.lower-alpha {
    list-style-type: lower-alpha;
}
footer {
    background-color: aquamarine;
    display: block;
    margin-top: 40px;
    padding-bottom: 70px;
    font-size: 30px;
    display: none;
    /*Nanti display hilangin kalo udh gede*/
}
.none {
    list-style-type: none;
}



ul.outside {
    list-style-position: outside;
}
ul.inside {
    list-style-position: inside;
}


.list-image {
    list-style-image: url(asset/soft-drink.png);
}



.list-style {
    list-style: square inside url(asset/soft-drink.png);
}